@table
import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#9198e5, #e66465); 
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#9198e5, #e66465); 
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 43px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.logintxt {
  font-size: 30px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.eulatxt {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
  margin-bottom: 20px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.containertabla {
  display: flex;
  height: 640px;
  margin: 0 auto;
  width: 640px;
  flex-direction: column;
}
@media (max-width: 767px) {
  .containertabla {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.up {
  background: white;
  top: 20px;
  position: relative;
  height: 100%;
  left: 20px;
  width: calc(100% - 40px);
  max-height: 270px;
}
@media (max-width: 767px) {
  .up {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.down {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  max-height: 350px;
}
@media (max-width: 767px) {
  .down {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.downtabla {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
  height: 500px;
}
@media (max-width: 767px) {
  .downtabla {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svgtabla {
  position: absolute;
  width: 100%;
}
svg {
  position: absolute;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
.formtabla {
  margin: 40px;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.part1 {
  width:50%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 {
  width:50%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part3 {
  width:50%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part4 {
  width: 50%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
    width: 100%;
    position: relative;
}
.botonesnew {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #c2c2c5;
}
.botonesnewvert {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: #c2c2c5;
}
.botones {
  margin-right: 0%;
  text-align: right;
  word-spacing: 5px;
  margin-top: -20px;
}
.botonestabla {
  margin-right: 0%;
  text-align: right;
  margin-top: -36px;
  word-spacing: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 30%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  word-spacing: 0px;
  font-family: Roboto,Helvetica Neue,sans-serif;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.center {
  margin: auto;
  margin-top: 8%;
  width: 50%;
  border: 3px solid DarkSlateGray;
  padding: 10px;
  text-align: center;
  background-color: SILVER;
  box-shadow: 5px 5px 20px 0px rgba(81,81,81,0.75);
}
.center2 {
  text-align: justify;
  padding: 10px;
}
.center3 {
  text-align: center;
}
.center4 {
  text-align: justify;
}
.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.ok {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.usuexiste {
  color: red;
  font-weight: bold;
}
.voto {
  color: green;
  font-weight: bold;
}
.titulo {
  font-weight: bold;
  font-size: 25px;
}
.imagenes {
  text-align:center;
  display:block;
}
table {
  border: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #9198e5, #e66465) 30 stretch;
  width: 100%;
}
th {
  text-align: center;
  padding: 8px;
  color: #c2c2c5;
}
td {
  text-align: center;
  padding: 8px;
  color: #c2c2c5;
}
.tdtxt {
  text-align: left;
}
